<div class="container d-flex justify-content-center m-3">
  <div class="col-6 text-white">
    <%= simple_form_for [@offer, @booking] do |f| %>
      <%= f.input :user_message, :label => "Message to the seller"%>
      <%= f.input :start_date%>
      <%= f.input :end_date%>
      <%= link_to "Back", offers_path %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
