<% if @booking.offer.user == current_user || @booking.user == current_user %>
  <h1 class="text-white"> Booking for: <%= @booking.user.username %></h1>
  <%# now wtf do I need here
  - a checkbox to confirm or deny confirmed %>
  <h2 class="text-white">Booking Details:</h2>
  <p class="text-white"><%= @booking.offer.title %> </p>
  <p class="text-white"><%= @booking.offer.user.username %> </p>
  <p class="text-white"><%= @booking.offer.location %> </p>
  <p class="text-white"><%= @booking.offer.description %> </p>
  <p class="" style="<%= (@booking.confirmed) ? "color: green;": "color: red;"%>">Booking confirmed? <%= (@booking.confirmed) ? "Affirmative": "Negative" %> </p>

  <% if @booking.offer.user == current_user %>
    <div class="text-white">
      <%= simple_form_for @booking do |f| %>
        <%= f.input :confirmed%>
        <%= f.button :submit, "confirm booking"%>
      <% end %>
    </div>
  <% end %>
  <%= link_to "Back", my_bookings_path %>

  <% else %>
    <p class="text-white"><%="You are not authorized to see this booking." %></p>
    <%= link_to 'Home', root_path %>
<% end %>
