<div class="container text-white">
  <h1 class="pb-3 text-warning">My bookings</h1>

    <% if @user_bookings.empty? %>
      <h1 class="pb-3">No purchases yet!</h1>
      <%= link_to "Book a service!", offers_path, class:"btn btn-light" %>
    <% else %>
      <% @user_bookings.each do |booking| %>
        <hr>
        <div class="pb-3">
          <h3>Your message to the owner: "<%= booking.user_message%>"</h3>
          <div class="d-flex">
            <p>Start date: <%= booking.start_date %> / </p>
            <p>End date: <%= booking.end_date %></p>
          </div>
          <%= link_to "View purchase details", booking_path(booking), class:"btn btn-light" %>
        <hr>
        </div>
      <% end %>
      <%= link_to "Home", root_path, class:"btn btn-light" %>
    <% end %>
</div>
