<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex">
        <%= link_to "/", class: "navbar-brand p-2" do %>
          <div class="d-flex align-items-center">
            <%= image_tag "https://cdn.shopify.com/s/files/1/0346/1483/7380/products/BabyYodainCircle_1024x1024@2x.png?v=1609173674" %>
            <h4 class="m-0 site-name">GROGU</h4>
          </div>
        <% end %>

        <%= form_tag offers_path, method: :get do %>
          <div class="d-flex">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a service",
              style: "width: 250px"
            %>
            <%= submit_tag "Search", class: "btn btn-flat" %>

          </div>
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse p-2" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% else %>
                  <%= image_tag "http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/6309e3eb394ba0a.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "My offers", "#", class: "dropdown-item" %>
                  <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
    </div>
