<div class="container d-flex justify-content-center m-3">
  <div class="col-6">
  <h1>Edit</h1>
    <%= simple_form_for @offer do |f| %>
      <%= f.input :title%>
      <%= f.input :price%>
      <%= f.input :location%>
      <%= f.input :description%>
      <%= f.input :photo, as: :file %>
      <%= link_to "Back", offer_path, class:"btn btn-primary" %>
      <%= f.submit class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
