<div class="container text-white">
  <h1>All our offers</h1>

  <div class="grid_container">
    <% @offers.each do |offer|%>
      <div class="card-offer d-flex p-2 my-2 bg-black" style="width: 25rem; height: 20rem;">
        <%= cl_image_tag offer.photo.key, class:"card-offer-img-top" %>

        <div class="card-offer-body d-flex flex-column">
          <h5 class="card-offer-title"><%= offer.title %></h5>
          <p class="overflow-auto" style="font-size: 14px;"><%= offer.description %></h5>
          <p class="price"><%= offer.price %> CREDITS</p>
          <%= link_to "Details", offer_path(offer[:id]) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
