<div class="container text-white">
  <h1 class="text-warning">My offers</h1>

  <br>

  <% if @offers.empty? %>
    <h3 class="text-warning">You haven't created any offers yet!</h3>
    <br>
    <%= link_to "Add an offer", new_offer_path, class: "btn btn-light pt-2" %>
    <%= link_to "Home", root_path, class:"btn btn-light pt-2" %>
  <% else %>
    <hr>
    <% @offers.each_with_index do |offer, index| %>
        <h3><%= index + 1 %>. <%= offer.title%></h3>
        <p><%= offer.description %></p>
        <p class="text-warning"><%= offer.price %> CREDITS </p>
        <%= link_to "View this offer", offer_path(offer), class: "btn btn-light" %>
        <% if offer.bookings.count > 0 %>
          <%= link_to "View the #{offer.bookings.count} bookings on this offer", offers_bookings_path(offer), class: "btn btn-warning"%>
        <% end %>
      <hr>
      <br>
    <% end %>

    <%= link_to "Add a new offer", new_offer_path, class: "btn btn-light mb-4" %>
    <%= link_to "Home", root_path, class:"btn btn-light mb-4" %>
  <% end %>
</div>
