<div class="container text-white">
  <h1 class="text-warning pb-4">My offers</h1>
  <% @offers.each do |offer| %>
      <h3><%= offer.title%></h3>
      <p><%= offer.description %></p>
      <p><%= offer.price %> CREDITS </p>
      <%= link_to "View this offer", offer_path(offer), class: "btn btn-light" %>
      <% if offer.bookings.count > 0 %>
        <%= link_to "View the #{offer.bookings.count} bookings on this offer", offers_bookings_path(offer), class: "btn btn-warning"%>
      <% end %>
    <hr>
  <% end %>
</div>
