<div class="container text-white">
  <h1>My offers</h1>
  <% @offers.each do |offer| %>
      <h3><%= offer.title%></h3>
      <p><%= offer.description %></p>
      <p><%= offer.price %> CREDITS </p>
      <%= link_to "View more", offer_path(offer) %>
    <hr>
  <% end %>
  <%= link_to "Create an offer", new_offer_path %>
</div>
